<div class="container second-menu">
  <div class="row align-items-center">
    <div class="col-sm">
      <div class="user-navigation">
        <% if user_signed_in? %>
          <button type="button" class="btn btn-light user-nav-but active" aria-pressed="true"><%= link_to 'My Places', current_user%></button>
          <button class="btn btn-light user-nav-but"
                  type="button" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">My friends (<%= current_user.following.count %>)
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= render partial: 'users/friend', collection: current_user_friends %>
          </div>
          <button type="button" class="btn btn-light user-nav-but"><%= link_to 'My Favorites', user_fav_places_path(current_user) %></button>
        <% end %>
      </div>
    </div>
    <div class="col-sm">
      <%= render 'map_belongs' %>
    </div>
    <div class="col-sm">
      <%= render 'follow_form' if signed_in? %>
    </div>
    <% if signed_in? && current_user.is_admin? %>
      <% unless current_page?(current_user) %>
        <button type="button" class="btn btn-light user-nav-but active" aria-pressed="true"><%= link_to "Delete User", @user, method: :delete, data: { confirm: "Are you sure?" } %></button>
      <% end %>            
    <% end %>
  </div>
</div>

<div id="map">
  <% if signed_in? && (current_user == @user || current_user.is_admin?) %>
    <%= javascript_pack_tag 'author_map' %>
  <% else %>
    <%= javascript_pack_tag 'user_map' %>
  <% end %>
</div>
